@import "tailwindcss";
@plugin "daisyui" {
	themes: light --default, dark --prefersdark;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
	@apply text-3xl font-bold;
}

h2 {
	@apply text-2xl font-bold;
}

h3 {
	@apply text-xl font-bold;
}